{% extends 'wiki.html' %}

{% block title %} Início {% endblock %}

{% block customBlock %}
    {% if get_flashed_messages() %}
            {% for category, message in get_flashed_messages(with_categories=True) %}
                <div class="mt-2 md:mt-0 lg:md:inline-block">
                    <div class="p-2 flex items-center bg-{% if category=='error' %}redwarning{% else %}greensuccess{% endif %} inline-block font-opensans font-bold rounded-md text-swhite">
                        <span class="inline-block fill-swhite">{{ renderWarning() }}</span> <span class=" lg:inline-block ml-3"> {{ message }} </span>
                    </div>
                </div>
            {% endfor %}
    {% endif %}
{% endblock %}

{% block breadCrumbs %} <span class="ml-1 mr-1"> Início </span> {{ renderArrow() }} <span class="ml-1"> Perfil </span>{% endblock %}

{% block pageHead %}Perfil de {{ user_info['username'] }}{% endblock %}

{% block middleContent %}

<p class="text-center">
    <span class="font-bold font-opensans">Nome de Usuário:</span><span class="font-medium font-inputs"> {{ user_info['username'] }}</span><br>
    <span class="font-bold font-opensans">Membro Desde:</span><span class="font-medium font-inputs"> {{ user_info['created'].strftime('%d/%m/%Y') }}</span>
</p>

{% endblock%}